:root {
  --darkCyan: #19a2ae;
  --veryDarkBlue: #2d3248;
  --darkGrayishBlue: #6a6f81;
  --darkGray: #969696;
}
//font-family: 'Kumbh Sans', sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--darkCyan);
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-position: top -200px left -224px, bottom -112px right -197px;
  background-repeat: no-repeat;
  background-size: 102%;
}
html {
  font-family: "Kumbh Sans", sans-serif;
}
#card {
  height: 350px;
  border-radius: 16px;
  box-shadow: 4px 4px 10px var(--darkGrayishBlue);
}
.half {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-image: url("images/bg-pattern-card.svg");
  height: 120px;
}
.container {
  background-color: #fff;
  margin: 150px auto;
  text-align: center;
  border-radius: 16px;
  max-width: 300px;
}

.lowerHalf {
  border-bottom: 1px solid var(--darkGray);
  position: relative;
  top: -51px;
}
.age {
  color: var(--darkGray);
  font-weight: normal;
}
span {
  font-size: 18px;
  font-weight: bold;
}
.lowerHalf h2 {
  font-size: 1rem;
}
h2 + p {
  margin: 13px auto 20px;
}
p {
  font-size: 14px;
  color: var(--darkGray);
}
.box > p {
  font-size: 11px;
  letter-spacing: 1.5px;
}
img {
  border-radius: 50%;
  border: 2px solid #fff;
  display: inline-block;
}
.littleBoxes {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: -20px;
}
@media screen and (min-width: 480px) {
  #card {
    margin-top: 15%;
    max-width: 300px;
  }
}
@media screen and (min-width: 580px) {
  #card {
    max-width: 300px;
  }
}
